.demo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;

  .phone-container {
    height: 600px;
    width: 370px;
    background-color: var(--phone-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      width: 100%;
      font-size: 40px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        background-color: #f6f6f6;
        color: #000;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }

    .login {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      span {
        font-weight: 500;
      }

      .circle {
        background-color: var(--tertiary);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        width: 100px;
        height: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .button {
        border-radius: 5px;
        text-align: center;

        span {
          background-color: var(--login-button-color);
          color: var(--login-text-color);

          font-size: 11px;
          letter-spacing: 1px;

          width: fit-content;
          border-radius: 5px;

          padding: 1px 5px;
          margin: 0 auto;
          position: relative;
          top: -20px;
        }
      }

      .welcome-text {
        color: var(--outline-color);
      }
    }

    .external-apps {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      flex: 1;

      .external-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--tertiary);
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin: 0 10px;

        .external-app-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          span {
            font-size: 12px;
            margin-top: 10px;
            color: var(--outline-color-button);
          }
        }
      }
    }

    .footer-apps {
      border-top: 1px solid var(--outline-color);
      width: 100%;
      align-self: flex-end;
      padding-bottom: 10px;

      .apps-label {
        margin: 10px;
        color: var(--outline-color);
      }

      .apps-list {
        display: flex;

        justify-content: space-around;

        .footer-app {
          border: 1px solid var(--outline-color);
          border-radius: 10px;
          height: 70px;
          width: 70px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .footer-app-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
              font-size: 11px;
              margin-top: 5px;
              color: var(--outline-color);
            }
          }

          .new-bullet {
            background-color: var(--secondary);
            color: var(--outline-color-button);
            border: 0.5px solid var(--outline-color);
            width: fit-content;
            border-radius: 10px;
            font-size: 11px;
            padding: 0px 3px;
            position: absolute;
            transform: translate(35px, -35px);
          }
        }
      }
    }
  }
}
