.demo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;

  .phone-container {
    height: 600px;
    width: 370px;
    background-color: var(--phone-background);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
