.container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  & div {
    color: aliceblue;
  }

  .demo {
    flex: 1;
  }

  .settings {
    flex: 1;
  }
}

@media only screen and (max-width: 1366px) {
  .container {
    .settings {
      flex: 2;
    }
    .demo {
      flex: 3;
    }
  }
}
