.container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  & div {
    color: aliceblue;
  }

  .demo {
    flex: 1;
  }

  .settings {
    flex: 1;
  }
}

footer {
  color: #FFF;
  position: absolute;
  bottom: 10px;
  right: 10px;
  letter-spacing: 1px;

  a {
    color: #FFF;
    font-weight: bold;
  }
}

@media only screen and (max-width: 1366px) {
  .container {
    .settings {
      flex: 2;
    }
    .demo {
      flex: 3;
    }
  }
}
