:root {
  --background: #282c34;

  //Phone
  --phone-background: #135482;

  --primary: #2980B9;
  --secondary: #63ACDD;
  --tertiary: #124F7A;

  --outline-color: rgb(255,255,255);
  --outline-color-opacity: rgba(255,255,255,0.3);
  --outline-color-button: #FFFFFF;
  --login-button-color: #135482;
  --login-text-color: rgb(255,255,255);
  --warning-color: #EEA541;
}
