.settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;

  .form-field {
    cursor: pointer;
    margin: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
      margin-left: 5px;
      line-height: 12px;
    }

    input:not([disabled]) {
      cursor: pointer;
    }

    input[disabled] {
      opacity: 0.3;
    }

    .toggle {
    margin-left: 10px;
    }
  }

  .copy {
    cursor: pointer;
    margin: 10px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: fit-content;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;

    span {
      margin-left: 10px;
      width: fit-content;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transition: 150ms;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0);
    }
  }
}
